<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
<script src="/assets/js/vendor/loadcss.js" ></script>
    <link href="/assets/css/criticalCSS.css" as="style">
        <script>
                loadCSS('/dist/css/fonts.css');
                loadCSS('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
                loadCSS('/assets/css/src/docs.css');
        </script>

        <noscript>
            <link rel="preload" href="/dist/css/fonts.css" as="style">
            <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" as="style">
            <link rel="preload" href="/assets/css/src/docs.css" as="style">
        </noscript>

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor/fontfaceobserver.js" ></script>
    <script src="/assets/js/vendor/nonBlockingFont.js" ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
